.filters {
  .panel {
    margin-bottom: 3px;

    .panel-heading {
      color: $text-title-filters;
      padding: 15px;

      .panel-title {
        text-align: center;

        a {
          text-decoration: none;
          font-size: .9em;

          span:hover {
            color: $text-title-filters-hover;
            cursor: pointer;
          }
        }

        @media (min-width: $screen-md-min) {
          text-align: left;
        }
      }
    }

    .panel-body {
      border-top: 0 !important;
      padding-top: 0px;

      .btn-filter-name {
        border-radius: 0;
        margin-left: 15px;
        background-color: $header-bg;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $menu-bg;
        }
      }
    }

    .align-button {
      display: flex;
      align-items: start;
    }
  }

  .panel-group {
    margin-bottom: 5px;
  }
}

.filters-mobile {
  background-color: $main-bg;
}

.yellow-star {
  color: $star-filter-color;
  padding-right: 7px;

  &:last-child {
    padding-right: 0;
  }
}
