hotel-item {
  .hotel-ctn {
    background-color: #fff;
    padding: 10px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(119, 119, 119, 0.3);
    margin-bottom: 16px;
    height: 530px;
  
    @media only screen and (min-width: 768px){
      height: 200px;
    }

    .hotel-description {
      @media only screen and (min-width: 768px) {
        padding: 0 16px;
      }

      [class*="icon-"].hotel-name:hover {
        text-decoration: none;
      }
    
      .hotel-name {
        color: #157ab1;
        text-decoration: none;
        cursor: pointer;
        line-height: 2.1rem;
        font-size: 1.7rem;
        font-weight: bold;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        
        .hotel-name:active {
          color: #10567b;
          text-decoration: underline;
        }
        
        .hotel-name:hover {
          color: #1a99df;
          text-decoration: underline;
        }
      }

      .hotel-link {
        display: block;
      }

      .star-ctn {
        line-height: 24px;
        line-height: 2.1rem;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: normal;
      }

      .amenities-ctn {
        .list {
          list-style: none;
          padding: 0;

          li {
            margin-left: 0;
            display: inline-block;
            font-size: 1.2em;
            padding-right: 10px;
            color: #444;

            &:last-child {
              padding-right: 0;
            }
          }
        }

        &-image {
          width: 20px;
          display: block;
        }
      }
    }

    .placeholder-loader {
      .header {
        height: 192px;
      }

      .content-loader {
        box-sizing: border-box;
        padding: 16px;
      }
    }

    .header-hotel {
      position: relative;

      .hotel-image {
        background-size: cover;
        background-position: 50%;
        height: 180px;
        margin-bottom: 15px;

        @media only screen and (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    .price-box-ctn {
      position: relative;
      box-sizing: border-box;
      text-align: center;
      color: #444;
      padding-right: 16px 0 8px;
      border-left: none;

      @media only screen and (min-width: 768px) {
        padding: 16px 0 16px 8px;
        border-left: 1px dashed #CCC;
        height: 100%;
      }

      .price-box {
        padding-top: 16px;
        border-top: 1px dashed #777;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @media only screen and (min-width: 768px) {
          padding-top: 0;
          border-top: none;
        }

        .price-description {
          line-height: 16px;
          line-height: 1.6rem;
          font-size: 12px;
          font-size: 1.2rem;
          font-weight: normal;
          margin-bottom: 8px;
        
          @media only screen and (min-width: 768px)  {
            margin: 0 25px 13px;
          }
        }

        .price--lg {
          margin-bottom: 8px;
          color: #DF6800;

          .price__currency {
            line-height: 40px;
            line-height: 4rem;
            font-size: 24px;
            font-size: 2.4rem;
            font-weight: normal;
            display: inline-block;
            vertical-align: top;
          }

          .price__amount {
            line-height: 40px;
            line-height: 4rem;
            font-size: 36px;
            font-size: 3.6rem;
            font-weight: bold;
            display: inline-block;
          }
        }

        .button-detail {
          margin-top: 8px;
          margin-bottom: 8px;
          width: 100%;
          background-color: $header-bg;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $menu-bg;
          }

          @media only screen and (min-width: 768px) {
            max-width: 170px;
          }
        }
      }
    }
  }
}