body {
  background-color: $main-bg;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

.pagination-sm {
  margin: 0 auto;
  width: 65%;
  float: right;
}

.main {
  margin: 0;

  .breadcrumb {
    font-size: .8em;
    margin: 10px 0 5px 0;
  }

  .select-order {
    margin: 8px 0;

    @media only screen and (min-device-width : $screen-sm) and (max-device-width : $screen-lg)  {
      margin-left: auto;
      margin-right: auto;
      width: 250px;
     }

    @media (min-width: $screen-sm-min) {
      float: right;

      select {
        height: 24px;
      }
    }
  }
  
  @media (min-width: $screen-sm-min) {
      margin: 25px 10px;
  }
}
