<article class="hotel-ctn am-ctn">
  <div class="header-hotel col-sm-4 col-xs-12">
    <div ng-style="{'background-image':'url({{$ctrl.routeHotelImages}}{{$ctrl.hotel.image}})'}" class="hotel-image">
    </div>
  </div>
  <div class="col-sm-5 col-xs-12">
    <div class="hotel-description">
      <a class="link-hotel">
        <h1 title="Hotel Emperador" class="hotel-name">
            {{$ctrl.hotel.name}}
        </h1>
      </a>
      <p class="star-ctn">
        <stars num="$ctrl.hotel.stars"></stars>
      </p>
      <div class="amenities-ctn">
        <ul class="list">
          <li ng-repeat="amenities in $ctrl.hotel.amenities">
            <span>
              <img class="amenities-ctn-image" ng-src="{{$ctrl.routeAmenitiesIcons}}{{amenities}}.svg"
              alt="{{amenities}}" />
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="price-box-ctn col-sm-3 col-xs-12">
    <div class="price-box">
      <p class="price-description">Precio por noche por habitación</p>
      <p class="price--lg">
        <span class="price__currency">
            ARS
        </span> &nbsp;
        <span class="price__amount">{{$ctrl.hotel.price | currency: '': 0}}</span>
      </p>
      <a class="btn btn-primary active btn-lg button-detail btn-block">
          Ver hotel
        </a>
    </div>
  </div>
</article>
