<div class="container-fluid main">
  <div class="row">
    <div class="col-md-3 col-xs-12">
    <filters on-update="$ctrl.updateHotels($event);"></filters>
    </div>
    <div class="col-md-9 col-xs-12">
      <select-order disabled="$ctrl.hotels.length === 0"></select-order>
      <hotel-list list="$ctrl.hotels" ng-show="$ctrl.hotels.length > 0"></hotel-list>
      <pagination total-items="$ctrl.pagination.total" on-update="$ctrl.updateHotels($event);">
      </pagination>
      <div class="alert alert-warning" role="alert" ng-show="$ctrl.hotels.length === 0">
        <h5>Lo sentimos. No se encontraron resultados para tu búsqueda. </h5> Intentalo de Nuevo.
      </div>
    </div>
  </div>
</div>
