 <uib-accordion>
  <div uib-accordion-group is-open="$ctrl.open">
    <uib-accordion-heading>
      <i class="fa fa-star" aria-hidden="true"></i> <b>Estrellas</b> 
      <i class="pull-right fa" ng-class="{'fa-caret-down': $ctrl.open, 'fa-caret-up': !$ctrl.open}"></i>
    </uib-accordion-heading>
    <div class="list-star" ng-click="$ctrl.applyFilter()">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.starsChecks['all']" />
          <b> Todas las Estrellas </b>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.starsChecks['5']"/>
          <stars num="5"></stars>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.starsChecks['4']"/>
          <stars num="4"></stars>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.starsChecks['3']"/>
          <stars num="3"></stars>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.starsChecks['2']"/>
          <stars num="2"></stars>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.starsChecks['1']"/>
          <stars num="1"></stars>
        </label>
      </div>
    </div>
  </div>
</uib-accordion>
