<div class="am-header">
  <nav class="navbar am-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="logo">
          <a ng-href="/">
            <img ng-src="{{$ctrl.routeHotelImages}}logo-almundo.svg" alt="Logo Almundo" />
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
