<aside class="sidebar-nav filters visible-md-block visible-lg-block">
  <div class="panel-group panel panel-open panel-heading"> <b>Filtros</b></div>
  <filter-name  filters="$ctrl.filters" on-update="$ctrl.updateHotels($event);"></filter-name>
  <filter-price filters="$ctrl.filters" on-update="$ctrl.updateHotels($event);"></filter-price>
  <filter-star  filters="$ctrl.filters" on-update="$ctrl.updateHotels($event);"></filter-star>
</aside>
<aside class="sidebar-nav filters hidden-md hidden-lg">
  <uib-accordion>
    <div uib-accordion-group class="filters-mobile" is-open="$ctrl.open">
      <uib-accordion-heading>
        <b>Filtrar</b> 
        <i class="fa" ng-class="{'fa-caret-up': $ctrl.open, 'fa-caret-down': !$ctrl.open}"></i>
      </uib-accordion-heading>
      <filter-name  filters="$ctrl.filters" on-update="$ctrl.updateHotels($event);"></filter-name>
      <filter-price filters="$ctrl.filters" on-update="$ctrl.updateHotels($event);"></filter-price>
      <filter-star  filters="$ctrl.filters" on-update="$ctrl.updateHotels($event);"></filter-star>
    </div>
  </uib-accordion>
</aside>
