<uib-accordion>
  <div uib-accordion-group is-open="$ctrl.open">
    <uib-accordion-heading>
      <i class="fa fa-usd" aria-hidden="true"></i> <b>Precios</b> 
      <i class="pull-right fa" ng-class="{'fa-caret-up': $ctrl.open, 'fa-caret-down': !$ctrl.open}"></i>
    </uib-accordion-heading>
    <rzslider class="custom-slider" ng-click="$ctrl.applyFilter()" rz-slider-model="$ctrl.filters.price_range.min" rz-slider-high="$ctrl.filters.price_range.max" rz-slider-options="$ctrl.filters.price_range.options">
    </rzslider>
  </div>
</uib-accordion>
